    <!-- Footer -->
    <footer id="footer" class="bg-light py-2">
        <div class="container-fluid">
            <div>
                <a href="#" class="p-2">about</a>
                <a href="#" class="p-2">contact</a>
                <a href="#" class="p-2">subscribe</a>
             </div>
            <div class="mt-2">
                <a href="#" class="p-2"><i class="fab fa-facebook"></i></a>
                <a href="#" class="p-2"><i class="fab fa-instagram"></i></a>
                <a href="#" class="p-2"><i class="fab fa-linkedin"></i></a>
                <a href="#" class="p-2"><i class="fab fa-twitter-square"></i></a>
                <a href="#" class="p-2"><i class="fab fa-github-square"></i></a>
            </div>
        </div>
    </footer>