<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
<!-- Main -->
    <main>
        <div class="info container-fluid">
          <div class="row">
              <div class="col-md-4">
                <img src="/photos/book.jpg" class="img-fluid max-width: 100%; height: auto;" alt="Responsive image">
              </div>
    <div class="col-md-8">
                <div class="col-5">
                    <h2 class="highlight">New Resource</h2>
                </div>
        <form action="/resources" method="POST">
            <div class="form-row p-3">
              <div class="form-group col-md-6">
                <label for="name">Type</label>
                <input type="text" class="form-control" name="name"/> 
              </div>
              <div class="form-group col-md-6">
                <label for="link">URL</label>
                <input type="text" class="form-control" name="link"/> 
              </div>
            </div>
            <div class="form-row p-3">
              <div class="form-group col-md-6">
                <label for="description">Description</label>
                <textarea id="description" type="text" class="form-control" name="description"></textarea> 
              </div>
              <div class="form-group col-md-4">
                <label for="inputUser">User</label>
                <select id="inputUser" class="form-control">
                  <option selected>Choose your name</option>
                  <!-- TO DO -->
                  <option>resource.user</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <button class="newResource btn mt-4" type="submit">Add Resource</button>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
        
    </main>

<%- include('../partials/footer') %>
<%- include('../partials/plugins') %>
</body>
</html>