<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
<!-- Main -->
    <main>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>Javascript</h2>
            </div>
            <div class="col-md-9">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia animi doloremque sed necessitatibus explicabo, id numquam repellendus magni dolore consequatur dolorum, nulla illo commodi velit enim quasi dicta laborum aperiam.Enim corporis eius incidunt veritatis. Aliquid ex, ipsa et dolor similique ipsam placeat dolores quidem dicta numquam voluptate, voluptas, optio blanditiis consequuntur maiores rerum aut neque autem earum error. Velit!
                </p>
            </div>
        </div>
    </div>

    <h1>New Resource</h1>

    <form action="/resources" method="POST">
        <label for="name">Type</label>
        <input type="text" id="name" name="name"/>
      </div>
      <div>        
        <label for="description">Description</label>
        <textarea id="description" name="description"></textarea>
      </div>
      <button type="submit">Add Resource</button>
    </form>

    </main>

<%- include('../partials/footer') %>
<%- include('../partials/plugins') %>
</body>
</html>