<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/navbar') %>
    <!-- Main -->
    <main>
            
        <div class="container mt-5">
            <h1 class="highlight text-center">
               Meet us 
            </h1>  
        </div>

        <div class="card-deck pr-5 pl-5 pb-5">
            <div class="card m-5">
                <img class="card-img-top img-fluid" src="photos/Kaila.jpeg" alt="image">
                <div class="card-body">
                    <h2 class="card-title highlight">
                        Hi I'm Kaila.
                    </h2>
                    <p class="card-text">I love cats, pizza, burritos, rock climbing, app design, & the outdoors. Currently a student at General Assembly!</p>
                    <p class="card-text"><a href="mailto:kaila22@hotmail.com" class="link">Email me to connect!</a></p>
                </div>
            </div>
            <div class="card m-5">
                <img class="card-img-top img-fluid" src="photos/Art.png" alt="image">
                <div class="card-body">
                    <h2 class="card-title highlight">
                        Hi I'm Artur. 
                    </h2>
                    <p class="card-text">I love programming and I'm also a student at General Assembly! Reach out and let's collaborate.</p>
                    <p class="card-text"><a href="mailto:alpha0megac0derpl@gmail.com" class="link">Email me to connect!</a></p>
                </div>
              </div>

    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/plugins') %>
</body>
</html>
