<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/navbar') %>
    <!-- Main -->
    <main>
        <div class="d-flex justify-content-center align-self-center" id="welcome">
            <h1>C(onnect) R(esources) & U(nite) D(evelopers)</h1>  
        </div>
        
        <div class="container" id="info">
            <div class="row">
                <div class="col-md-3">
                    <h3>C(onnect) R(esources) & U(nite) D(evelopers)</h3>
                </div>
                <div class="col-md-9">
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam vitae placeat perferendis, sapiente tempore laudantium velit praesentium eaque atque explicabo recusandae architecto beatae excepturi aut maiores iure itaque quibusdam exercitationem!
                        Accusamus, dolore! Corrupti doloremque doloribus magni omnis nulla, nostrum provident aliquam culpa tempora, quia inventore vel perferendis ratione. Quae ab voluptatibus ipsa? Soluta neque vero, laudantium illum deleniti rem ad!
                        Magnam quo, rem quod molestiae dignissimos incidunt cupiditate nihil, inventore enim commodi nostrum vero totam, provident tempora quia sunt ullam ipsam libero assumenda. Placeat dolore eveniet voluptatum quidem. A, cum.
                        Obcaecati esse reiciendis id voluptatibus, odio delectus fugiat optio doloremque incidunt? Consequuntur optio iste, natus fuga iusto magni! Vitae facilis neque aliquam molestias praesentium dolore officiis, alias aperiam non consequatur.
                        Eaque reiciendis nostrum dolorem incidunt, nesciunt qui molestiae temporibus labore harum maxime amet distinctio consectetur suscipit odit, eos sed veritatis odio modi. Modi officiis, quam corrupti nesciunt perferendis maxime mollitia.
                    </p>
                </div>
            </div>
        </div>

        <div class="container text-center" id="user">

            <i class="fas fa-user-circle" id="userlogin"></i>
            <h3>Create Profile</h3>

        <div class="userlogin row justify-content-center text-center">
        <form action="./user/index" method="POST">
            <div class="row mb-2">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name"/>
            </div>
            <div class="row mb-2">
                <label for="location">Location</label>
                <input type="text" class="form-control" name="location"/> 
            </div>
            <div class="row mb-2">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email"/>
            </div>
            <div class="row mb-2">
                <label for="interests">Interests</label>
                <input type="text" class="form-control" name="interests"/>
            </div>
            <div class="row mb-2">
            <label for="profession">Profession</label>
            <select class="form-control" name="profession">
                <option placeholder="select one" value="Front-End Developer">Front-End Developer</option>
                <option value="Back-End Developer">Back-End Developer</option>
            </select>
            </div>
            <button class="btn mb-2 mt-2 btn-primary" type="submit">Create</button>
        </form>
            </div>
        </div>

    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/plugins') %>
</body>
</html>
