<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/navbar') %>
    <!-- Main -->
    <main>
            <img src="photos/people.jpg" class="img-fluid max-width: 100%; height: auto;" alt="Responsive image">
            
            <div class="container-fluid">
                <h1 class="welcome d-flex justify-content-center">
                    C(onnect) R(esources) & U(nite) D(evelopers)
                </h1>  
            </div>
        
        <div class="container-fluid" id="info">
            <div class="row">
                <div class="col-md-3 text-center">
                    <h2 class="p-4">What we do</h2>
                </div>
                <div class="col-md-9">
                    <h2 class="highlight p-4">We give crud a new meaning.</h2>
                    <p class="p-4">
                        Our goal is to connect developers to resources and networking in their area. <br>We want to give users access to updated resources based on personal interests and professions.<br> 
                        Create your profile below!
                    </p> 
                    <h4 class="p-4">
                        let crud = <span class="highlight">
                        'Connect Resources & Unite Developers'</span>;
                    </h4>
                        
                </div>
            </div>
        </div>

        <div class="container text-center" id="user">

            <i class="fas fa-user-circle" id="userlogin"></i>
            <h3>Create Profile</h3>

        <div class="bodyText row justify-content-center text-center">
        <form action="/network" method="POST">
            <div class="row mb-2">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name"/>
            </div>
            <div class="row mb-2">
                <label for="location">Location</label>
                <input type="text" class="form-control" name="location"/> 
            </div>
            <div class="row mb-2">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email"/>
            </div>
            <div class="row mb-2">
                <label for="interests">Interests</label>
                <input type="text" class="form-control" name="interests"/>
            </div>
            <div class="row mb-2">
            <label for="profession">Profession</label>
            <select class="form-control" name="profession">
                <option placeholder="select one" value="Select"></option>
                <option value="Front-End Developer">Front-End Developer</option>
                <option value="Back-End Developer">Back-End Developer</option>
                <option value="Full-Stack Developer">Full-Stack Developer</option>
            </select>
            </div>
                <button class="button btn mb-2 mt-2" type="submit">Create</button>
        </form>
            </div>
        </div>

    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/plugins') %>
</body>
</html>
