<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/navbar') %>
<!-- Main -->
    <main>
        <div class="d-flex justify-content-center align-self-center" id="welcome">
            <h1>C(onnect) R(esources) & U(nite) D(evelopers)</h1>  
        </div>

        <div class="row-fluid text-center d-flex" id="info">
            <div class="container my-auto">
                <h3>C(onnect) R(esources) & U(nite) D(evelopers)</h3>
            </div>
            <div class="container my-auto">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam vitae placeat perferendis, sapiente tempore laudantium velit praesentium eaque atque explicabo recusandae architecto beatae excepturi aut maiores iure itaque quibusdam exercitationem!
                    Accusamus, dolore! Corrupti doloremque doloribus magni omnis nulla, nostrum provident aliquam culpa tempora, quia inventore vel perferendis ratione. Quae ab voluptatibus ipsa? Soluta neque vero, laudantium illum deleniti rem ad!
                    Magnam quo, rem quod molestiae dignissimos incidunt cupiditate nihil, inventore enim commodi nostrum vero totam, provident tempora quia sunt ullam ipsam libero assumenda. Placeat dolore eveniet voluptatum quidem. A, cum.
                    Obcaecati esse reiciendis id voluptatibus, odio delectus fugiat optio doloremque incidunt? Consequuntur optio iste, natus fuga iusto magni! Vitae facilis neque aliquam molestias praesentium dolore officiis, alias aperiam non consequatur.
                    Eaque reiciendis nostrum dolorem incidunt, nesciunt qui molestiae temporibus labore harum maxime amet distinctio consectetur suscipit odit, eos sed veritatis odio modi. Modi officiis, quam corrupti nesciunt perferendis maxime mollitia.
                </p>
            </div>
        </div>

        <div class="text-center" id="user">
            <form action="/" method="POST">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" />

                <label for="location">Location</label>
                <input type="text" id="location" name="location" />

                <label for="email">Email</label>
                <input type="text" id="email" name="email" />

                <label for="profession">Profession</label>
                <input type="text" id="profession" name="profession" />

                <label for="interests">Interests</label>
                <input type="text" id="interests" name="interests" />
          
                <button type="submit">Create User</button>
              </form>
        </div>

    </main>

    <%- include('./partials/footer') %>
    <%- include('./partials/plugins') %>
</body>
</html>