<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/navbar') %>
    <!-- Main -->
    <main>
        <div class="container text-center" id="user">

            <i class="fas fa-user-circle" id="userlogin"></i>
            <h3>Login</h3>

        <div class="userlogin row justify-content-center text-center">
        <form action="./user/index" method="POST">
            <div class="row mb-2">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name"/>
            </div>
            <div class="row mb-2">
                <label for="email">Email</label>
                <input type="text" class="form-control" name="email"/>
            </div>
            <div class="row mb-2">
                <label for="password">Password</label>
                <input type="text" class="form-control" name="password"/>
            </div>
            <button class="button btn mb-2 mt-2" type="submit">Create</button>
        </form>
            </div>
        </div>

    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/plugins') %>
</body>
</html>
