@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@400;500;700&display=swap');

:root {
    --orange: #FD521F;
    --background: #F4F7F6;
    --lightgrey: #EEEEEE; 
    --dark: #2D2D2D;
}

body {
    font-family: 'Karla', sans-serif;
    color: var(--dark);
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
p{
    line-height: 30px;
    text-align: justify;
    font-size: 1.3rem;
}

.button {
    background-color: var(--lightgrey);
}

.button:hover {
    background-color: var(--dark);
    color: var(--background);
}

/* .bodyText {
    font-size: 2rem;
} */

nav.bg-light {
    background-color: var(--background) !important;
    opacity: 0.8;
}

.navbar a {
    color: var(--orange) !important;
}

.navbar a:hover {
    color: var(--dark) !important;
}

.welcome {
    padding: 6rem 2rem;
    color: var(--orange);
}

/* .blue {
    color: #82CEED;
} */

/* .picture {
        background: url(photos/people.jpg) center center cover no-repeat fixed;
       } */

#info {
    background-color:var(--lightgrey);
    padding: 6rem 2rem;
}

.highlight {
    color: var(--orange);
}

#user {
    padding: 6rem 2rem;
}

#footer a {
    color: var(--orange);
    text-decoration: none;
}

#footer a:hover {
    color: var(--dark);
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}
#userlogin {
    font-size: 10rem;
    color: var(--lightgrey);
}

#resourceBtn {
    color: var(--orange);
}

#resourceBtn:hover {
    color: var(--dark);
    text-decoration: none;
}

.share {
    background-color: var(--background);
}

.link {
    color: var(--orange);
}

.link:hover {
    color: var(--dark);
    text-decoration: none;
}

.network {
    color: var(--orange);
}

.networkUser {
    background-color:var(--lightgrey);
    padding: 6rem 2rem;
    border-bottom: var(--orange) solid 1px;
}


/*  
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

} */