@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:wght@400;500;700&display=swap');

:root {
    --dark: #4C5361;
    --brown: #96908E;
    --lightbrown: #DED6D3; 
    --greygreen: #A4ACB0;
    --bluegrey: #7C8593;
}

body {
    font-family: 'Karla', sans-serif;
    color: #2D2D2D;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
p{
    line-height: 30px;
    text-align: justify;
    font-size: 1.3rem;
}

.button {
    background-color: #EEEEEE;
}

.button:hover {
    background-color: #2D2D2D;
    color: #F4F7F6;
}

/* .bodyText {
    font-size: 2rem;
} */

nav.bg-light {
    background-color: #F4F7F6 !important;
    opacity: 0.8;
}

.navbar a {
    color: #FD521F !important;
}

.navbar a:hover {
    color: #2D2D2D !important;
}

#welcome {
    padding: 6rem 2rem;
    color: #FD521F;
}

.blue {
    color: #82CEED;
}

/* .picture {
        background: url(photos/people.jpg) center center cover no-repeat fixed;
       } */

#info {
    background-color:#EEEEEE;
    padding: 6rem 2rem;
}

.highlight {
    color: #FD521F;
}

#user {
    padding: 6rem 2rem;
}

#footer a {
    color: #FD521F;
    text-decoration: none;
}

#footer a:hover {
    color: #2D2D2D;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}
#userlogin {
    font-size: 10rem;
    color: #EEEEEE;
}

#resourceBtn {
    color: #FD521F;
}

#resourceBtn:hover {
    color: #2D2D2D;
    text-decoration: none;
}

.share {
    background-color: #F4F7F6;
}

.link {
    color: #FD521F;
}

.link:hover {
    color: #2D2D2D;
    text-decoration: none;
}

/*  
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

} */