<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <!-- Main -->
    <main>
            
            <div class="container-fluid vh-100 text-center">
                <h1 class="welcome mt-5">
                    Sorry this page does not exist
                </h1>
                <h4 class="text-center">
                    Return to <a href="/" class="link">homepage</a>?
                </h4>
            </div>

    </main>
    <%- include('../partials/plugins') %>
</body>
</html>

